
@import "variables";
@import "bootstrap/bootstrap";

.cursor-pointer-hover:hover{
    cursor:pointer;
}

img.thumbnail{
    max-height:5rem;
}

.bg-weak-white{
    background-color:white;
}

$color-skill-owner:#F8DD55;
$color-skill-loginuser:#AAD88E;

.bg-skill-owner{     background-color:$color-skill-owner; }
.bg-skill-loginuser{  background-color:$color-skill-loginuser;   }